@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;400;700&display=swap");

:root {
  --color-white: #fefffa;
  --color-light: #fbfbfb;
  --color-background: #fafafa;
  --color-dark: #27272f;
  --color-grey-dark: #686868;
  --color-grey-light: #86858e;
  --color-main: #606060;
  --color-success-light: #85fa85;
  --color-danger-light: #fd8484;

  line-height: 1.5;
  font-weight: 400;
  width: 100wh;
  height: 100vh;

  color-scheme: light dark;
  color: var(--color-dark);
  background-color: var (--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  font-family: Poppins, Anton, sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-main);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Anton, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-dark);
}

input {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
}

button {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--color-dark);
}

input:hover {
  border-color: var(--color-grey-light);
}

button:hover {
  cursor: pointer;
  border-color: var(--color-grey-light);
}

input:focus,
input:focus-visible,
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.text-small {
  font-size: 10px;
}
