.app-container {
  height: 100vh;
  margin: 0;
  display: grid;
  font-family: Poppins, Anton, sans-serif;
  min-width: 320px;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer footer";
}

.header {
  grid-area: header;
  text-align: right;
  padding: 10px;
}

.main {
  grid-area: main;
  padding: 15px;

  .main-content {
    height: 90%;
    border: 1px solid var(--color-grey-light);
    border-radius: 4px;
    padding: 16px;
  }
}

.sidebar {
  grid-area: sidebar;

  .logo {
    display: flex;
    height: 60px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
  }

  .side-menu {
    padding: 10px;

    ul {
      list-style: none;
      li {
        line-height: 2em;

        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
}

.footer {
  grid-area: footer;
  text-align: center;
  padding: 10px;
  background-color: var(--color-grey-light);
}
